[submodule "themes/airspace-hugo"]
	path = themes/airspace-hugo
	url = git@github.com:themefisher/airspace-hugo.git
[submodule "themes/gohugo-theme-ananke"]
	path = themes/gohugo-theme-ananke
	url = git@github.com:theNewDynamic/gohugo-theme-ananke.git
